In [ ]:
import pandas as pd

In [ ]:
dados = {'ano_graduaçao':['1°','2°','3°','4°','total'],
        'matriculas_março':[70,50,47,23,190],
        'matriculas_novembro':[65,48,40,22,175],
         }

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

  ano_graduaçao  matriculas_março  matriculas_novembro
0            1°                70                   65
1            2°                50                   48
2            3°                47                   40
3            4°                23                   22
4         total               190                  175

In [ ]:
dataset['taxa_evasão'] = (dataset['matriculas_março'] - dataset['matriculas_novembro']) / dataset['matriculas_março'] * 100

In [ ]:
dataset

  ano_graduaçao  matriculas_março  matriculas_novembro  taxa_evasão
0            1°                70                   65     7.142857
1            2°                50                   48     4.000000
2            3°                47                   40    14.893617
3            4°                23                   22     4.347826
4         total               190                  175     7.894737